@using Newtonsoft.Json


<link href="~/assets/global/css/style-albe-timeline.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">project status</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.DropDownList("ProjectId", Enumerable.Empty<SelectListItem>(), new { @class = "form-control projectstat" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*========================================side time line=========================================*@

<div class="row">
    <div class="col-md-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-microphone font-green"></i>
                    <span class="caption-subject bold font-green uppercase">Hardware Timeline</span>
                    <span class="caption-helper">Alternating Vertical Timeline</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="myTimeline">
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-6">
        @*===============================================================middle timeline=========================================================*@
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-microphone font-green"></i>
                    <span class="caption-subject bold font-green uppercase"> Timeline 2</span>
                    <span class="caption-helper">Alternating Vertical Timeline</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn red btn-outline btn-circle btn-sm active">
                            <input name="options" class="toggle" id="option1" type="radio">Settings
                        </label>
                        <label class="btn  red btn-outline btn-circle btn-sm">
                            <input name="options" class="toggle" id="option2" type="radio">Tools
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-timeline-2">
                    <div class="mt-timeline-line border-grey-steel"></div>
                    <ul class="mt-container">
                        <li class="mt-item">
                            <div class="mt-timeline-icon bg-blue-chambray bg-font-blue-chambray border-grey-steel">
                                <i class="icon-bubbles"></i>
                            </div>
                            <div class="mt-timeline-content">
                                <div class="mt-content-container">

                                    <a href="javascript:;" class="font-blue-madison">Andres Iniesta</a>
                                    <br />
                                    <span class="mt-author-notes font-grey-mint">10 March 2016 : 7:45 PM</span>


                                </div>
                            </div>
                        </li>
                        <li class="mt-item">
                            <div class="mt-timeline-icon bg-blue-chambray bg-font-blue-chambray border-grey-steel">
                                <i class="icon-bubbles"></i>
                            </div>
                            <div class="mt-timeline-content">
                                <div class="mt-content-container">

                                    <a href="javascript:;" class="font-blue-madison">Andres Iniesta</a>
                                    <br />
                                    <span class="mt-author-notes font-grey-mint">10 March 2016 : 7:45 PM</span>


                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-albe-timeline/jquery-albe-timeline-2.0.1.min.js"></script>
@*<script src="~/Scripts/Common_Scripts/data-albe-timeline.js"></script>*@


<script src="~/Scripts/Common_Scripts/ProjectStatusForHwScript.js"></script>
<script src="~/Scripts/Common_Scripts/ProjectStatusForCmScript.js"></script>

<script>
    $(function () {
        $.get('@Url.Action("GetAllProjects", "Common")', {}, function (data) {
            var mySelect = $('.projectstat');
            mySelect.empty();
            mySelect.append($('<option></option>').val("").html("--Select--"));
            for (var i in data) {
                mySelect.append($('<option></option>').val(data[i].ProjectMasterId).html(data[i].ProjectName));
            }

        });

        $('.projectstat').on('change', function () {
            var projectId = $('.projectstat :selected').val();
            //========HW=========================
            var url = '@Url.Action("ProjectStatusForHw", "Common")';
            getProjectStatusForHw(projectId, url);

            //===========CM====================
            url = '@Url.Action("ProjectStatusForCm", "Common")';
            projectStatusForCm(projectId, url);
        });
    });
</script>

