
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoCokiee</title>
</head>
<body>
    <div>
        No cookie is enabled for browser 
    </div>
</body>
</html>
