@model ProjectManagement.ViewModels.Home.LoginViewModel
@{
    Layout = null;
}

<script src="~/Scripts/jquery-2.1.4.js"></script>
<link href="~/assets/recommended-styles.css" rel="stylesheet" />
<script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.hashtags.js"></script>
<link href="~/assets/jquery.hashtags.css" rel="stylesheet" />
<script src="~/assets/global/plugins/autosize/autosize.min.js"></script>
<link href="~/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<script src="~/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="container">
                <h2>Welcome @Model.username</h2>
                <span style="color: red;font-size: smaller;font-weight: bolder">30 days has been passed since last time you've changed your password, please reset your password</span>
                <div class="panel panel-danger">
                    <div class="panel-heading">Reset Password</div>
                    <div class="panel-body">
                        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { id = "formReset", autocomplete = "off" }))
                        {
                            @Html.HiddenFor(m => m.username, new { autocomplete = "off" })
                            <div class="form-group">
                                <label for="newpwd">New Password:</label>
                                @*<input type="password" class="form-control" id="newpwd" required="">*@
                                @Html.TextBoxFor(m=>m.password,new{@class="form-control",required="",type="password",id="newpwd",autocomplete="off"})
                            </div>
                            <div class="form-group">
                                <label for="conpwd">Confirm Password:</label>
                                <input type="password" class="form-control" id="conpwd" required="" autocomplete="off">
                            </div>
                            <button type="submit" id="btnReset" class="btn btn-default">Submit</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <script>
        $('#formReset').on('submit', function (e) {
            var oldPass = '@Model.password';
            console.log(oldPass);
            var newPass = $('#newpwd').val();
            var conPass = $('#conpwd').val();
            if (newPass == oldPass) {
                alert('Please choose a new password, you can not use previous password!!!');
                e.preventDefault();
            }
            if (newPass != oldPass && newPass != conPass && newPass != '' && conPass != '') {
                alert('Password did not match');
                e.preventDefault();
            }
        });
    </script>
</body>
</html>
