/* print.css */
header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
    display: none;
}


@media print {
    pre, blockquote {
        page-break-inside: avoid;
    }
}
@page {
   size: portrait;
   margin: 10%
}
body {
   size: portrait;
   margin: 10%
}